/**** Main page styling ****/

/* Background */
body {
    margin: 0px;
    padding: 5px;
    background-color: #F2F2ED;
}

/* Nav bar */
nav {
    margin: 0px;
    background-color: #2A835F;
    display: flex;
    gap: 15px;
    border-radius: 13px;
}
nav p {
    padding: 0px 50px;
}
.snap-right {
    margin-left: auto;
}
nav p a {
    text-decoration: none;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #2A835F;
    padding: 20px 0px;
    margin-bottom: 5px;
    border-radius: 13px;
}
footer a {
    text-decoration: none;
}

/* Images */
#profile-pic {
    display: block;
    margin: 0px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
    border: none;
    height: 6px;
    border-radius: 3px;
    background: #092328;
    margin: 70px 10px;
}

/**** h2 sections ****/
.section {
    margin: 60px 0px 50px 0px;
}
.section h2 {
    background-color: #087858c2;
    border-radius: 30px;
}

/* Education */
.education-seciton {
    display: flex;
    flex-direction: column;

}
/* Education / Honors and Awards */
.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.centered-list dt {
    font-weight: 600;
}
.centered-list dd {
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 5px;
    color: #555;
}
/* Skills */
.certer-section-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    width: 600px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}
.grid li {
    background-color: #8BBB92;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px 0px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    box-shadow: 3px 3px 2px 1px black;
}

/* Projects */
.proj-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    border: 1px solid rgba(1, 47, 12, 0.385);
    border-radius: 13px;
    box-shadow: 0px 1px 16px 0px #c0c0c0, 0px 3px 10px 0px #808080;

    background-color: rgba(2, 179, 34, 0.38);

    flex: 1 1 calc(33.3335 - 20px);
}
.proj-card img {
    width: 250px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.proj-card h3 {
    font-family: "Agbalumo", system-ui;
    margin: 15px 0px 0px 0px;
    font-size: 25px;
    text-align: center;
    padding:0px 10px;
}

.projects {
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
}


/**** Text and fonts ****/

/* Text fonts */
.nav-text {
    color: lightgreen;
    padding: 5px;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}
.nav-text:hover {
    background-color: #226b4e;

}
.nonclickable-in-nav {
    color: #092328;
    padding-right: auto;
    height: 20px;
    border-right: 2px solid #092328;
}

.top-info {
    text-align: center;
}

h1 {
    text-shadow: 3px 3px 5px gray;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 10px;

    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  
.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}


/*********** Form ***********/
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px
}
form button {
    margin: 10px auto;
}
form div {
    display: flex;
    gap: 20px;
}
